.pbl-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .payu-list-banks {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      padding: 5px 3px 0;

      &.payu-inactive {
        opacity: 0.5;
        filter: grayscale(1);
      }

      &:not(.payu-inactive) {
        label {
          cursor: pointer;

          &:hover {
            background: #ddd;
            border-color: #aaa;
          }
        }
      }

      label {
        padding: 10px;
        display: flex;
        border: 1px solid #bbb;
        transition: all 250ms;
        width: 86px;
        justify-content: center;
        align-items: center;

        &.active {
          background: #ddd;
          border-color: #aaa;
        }

        img {
          width: auto;
          height: 31px;
          object-fit: contain;
          margin: 0 !important;
          padding: 0;
        }

        input {
          display: none;
        }
      }
    }
  }

  .pbl-error {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: none;

    &:before {
      top: 0.5em
    }
  }
}

.payu-accept-conditions {
  margin-top: 15px;

  .payu-conditions-description {
    font-size: 12px;
    line-height: 120%;
    margin-top: 8px;
    text-align: justify;

    > div {
      margin: 5px 0;
    }

    a {
      text-decoration: underline;
    }

    .payu-read-more {
      text-decoration: underline;
      cursor: pointer;
    }

    .payu-more-hidden {
      display: none;
    }
  }
}

#payu-card-container {
  max-width: 350px;
  margin: 10px auto 10px;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
  color: #333;

  .payu-sf-validation-error, .payu-sf-technical-error {
    display: none;
    color: #b21b0f;
    font-size: 13px;
  }
}

#payu-card-container {
  .payu-card-form {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .payu-secure-form-invalid:not(.payu-secure-form-focus) {
    border-color: #b21b0f;
  }

  label {
    padding-bottom: 2px;
    font-size: 15px;
  }
}

.card-details {
  clear: both;
  overflow: auto;
  margin-top: 10px;
}

.card-details .expiration {
  width: 47%;
  float: left;
  margin-right: 5%;
}

.card-details .cvv {
  width: 47%;
  float: left;
}

#tokenizeButton {
  border: none;
  background: #438F29;
  padding: 8px 15px;
  cursor: pointer;
  color: #fff;
  display: table;
  margin: 10px auto 0;
}

.response-success {
  color: #438F29;
}

.response-error {
  color: #990000;
}

.autonomy-payu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px 0;

  img {
    margin-left: 10px;
    width: 50px;
    height: auto;
  }
}

label[for*="payment_method_payu"] {
  img {
    border-radius: 0;
  }
}

// blocks
.payu-block-method {
  gap: 10px;
}

.payu-block-method-logo {
  margin-left: 5px;
}
.payu-block-installments-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  > div {
    align-items: center;
    display: flex;
  }
}

.payu-block-list-banks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;

  > .payu-bank {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    transition: all 250ms;
    width: 82px;

    &.disabled {
      cursor: not-allowed;
      filter: grayscale(1);
      opacity: 0.5;

    }
    &:not(.disabled) {
      &:hover {
        background: #eee;
        border-color: #13100D;
      }
    }
    &.active {
      background: #eee;
      border-color: #13100D;
    }

    > img {
      border-radius: 0;
      height: 28px;
      object-fit: contain;
      width: auto;
    }
  }
}

.block-payu-card {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  margin: 10px 0;
  padding: 10px;

  .payu-sf-validation-error {
    color: #b21b0f;
    font-size: 13px;
  }

  > .block-payu-card-number {
    flex: 1 0 100%;
  }

  > .block-payu-card-date, .block-payu-card-cvv {
    flex: 1 0 calc(50% - 10px);
  }

  .payu-card-form {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 8px 6px;

    &.payu-secure-form-focus {
      border-color: #666666;
      box-shadow: 0 0 0 1px #666666;
    }

    &.payu-secure-form-invalid:not(.payu-secure-form-focus) {
      border-color: #cc1818;
    }
  }
}

#installment-mini-block {
  margin: inherit;
  padding-right: 16px;
  text-align: right;
}
