.payMethod {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 35px;
    width: 137px;
    height: 100px;
    font-size: 9px;
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 3px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.payMethodImage {
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 7px 0;
}
.payMethods {
    clear: both;
    overflow: auto;
    margin-top: 20px;
}

.payMethodEnable:hover {
    background-color: #f9f9f9;
}

.payMethodActive {
    border-color: #438F29;
    background-color: #eeeeee;
}

.payMethod input[type="radio"] {
    display: none;
}
.payMethodImage {
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 7px 0;
}
.payMethod label {
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    padding: 0;
    margin: 0 5px;
}
.payMethodEnable label {
    cursor: pointer;
}
.payMethodImage img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;

}
#place_order{
    float: right;
    margin-right: 40px;
}
#TermsCheckbox{
    margin-top:60px;
    font-size: 10px;
    font-size: 10px;
}