#payu-payment-status {
    margin-bottom: 1.41575em;

  > .payu-payment-status-title {
    align-items: center;
    display: flex;
    gap: 10px;

    > img {
      border-radius: 0;
      height: 40px;
    }
  }

  > #payu-payment-status-waiting {
    > h3 {
      align-items: center;
      display: flex;
      gap: 10px;
    }
  }
}

#payu-preloader {
  text-align: center;

  > output {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    > img {
      animation: loader-rotate 0.5s linear infinite;
      transform-origin: 50% 50%;
      width: 25px;
      height: 25px;
    }
  }
}

@keyframes loader-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
